@import url("https://fonts.googleapis.com/css2?family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&family=Tektur:wght@400..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&family=Tektur:wght@400..900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  color: white;
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: "Tektur", serif;
}

body {
  /* background-color: #242220; */
  background-image: linear-gradient(-80deg, #0f171b 0%, #070707 100%);
}
.max-container {
  max-width: 1440px;
  margin: 0px auto;
}

.header img {
  width: 150px;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
}
nav ul {
  margin-top: -15px;
  display: flex;
}
nav li {
  cursor: pointer;
  margin-left: 58px;
  transition: 0.3s ease-in-out;
}
nav li:hover {
  color: brown;
  transform: scale(1.1);
}

.container-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.container-1 img {
  opacity: 0.3;
  height: 518px;
  width: 1067px;
  border-radius: 5%;
}
.container-1 h1 {
  font-size: 78px;
  cursor: pointer;
  color: #155c3c;
  font-family: "Creepster", serif;
  margin-top: -327px;
  opacity: 0.6;
  transform: skew(-198deg, -23deg);
}

.container-1 span {
  color: #69684c;
}
.container-1 p {
  cursor: pointer;
  font-weight: 600;
  font-size: 26px;
  width: 678px;
  text-align: center;
  font-family: "Montserrat Underline", serif;
  margin-top: -13px;
  transform: skew(231deg, -22deg);
  opacity: 0.4;
  margin-right: -171px;
}

/* ABOUT */

.container-2 {
  margin-top: 332px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 347px;
  margin-right: 107px;
}

.container-2 img {
  height: 350px;
  width: 300px;
  border-radius: 12px;
  margin-left: 165px;
  transition: all 1s ease;
}
.container-2 img:hover {
  box-shadow: 0 0 12px #04e47f;
  transform: translate(10px);
}
.container-2 h1 {
  text-decoration: underline;
  color: #155c3c;
}
.ABOUT p {
  line-height: 30px;
  margin-top: 8px;
  color: #817c76;
  text-align: justify;
}
.container-2 button {
  padding: 12px 12px;
  border-radius: 8px;
  background-color: #228d464f;
  margin-top: 25px;
  transition: all 0.3s ease;
}
.container-2 button:hover{
  background-color: #155c3c;
}

/* SERVICE */
.container-3 {
  margin-top: 265px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-3 h1,
span {
  text-align: center;
  color: #155c3c;
}

.Flexbox {
  margin-top: 107px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 141px;
}
.box1 {
  padding: 36px;
  /* border: 2px solid white; */
  border-radius: 15px;
  background-color: #1e221bab;
  height: 413px;
  width: 362px;
  transition: all 0.3s ease;
}
.box1:hover {
  transform: scale(0.9);
}
.box1 img {
  margin-top: 52px;
  margin-left: 156px;
  height: 50px;
  width: 50px;
}
.box1 h2,
p {
  margin-top: 20px;
  text-align: center;
  line-height: 25px;
}
.box1 svg {
  margin-top: 37px;
  margin-left: 165px;
  height: 40px;
  width: 40px;
  transition: all 0.3s ease;
}
.box1 svg:hover {
  transform: scale(0.9);
}

/* PROJECTS  */
.container-4 {
  margin-top: 324px;
  display: flex;
  flex-direction: column;
}
.container-4 h1 {
  text-align: center;
}
.flexbox2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 99px;
  margin-left: 183px;
  margin-top: 102px;
}
.box2 {
  /* border:  2px solid white; */
  height: 300px;
  width: 300px;
}
.box2 img {
  border-radius: 6px;
  height: 300px;
  width: 300px;
  transition: all 0.3s ease;
  opacity: 0.4;
}
.box2 img:hover {
  opacity: 0.5;
  transform: scale(1.1);
  box-shadow: 0 0 12px rgb(141, 141, 154);
}



.footer{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 410px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}
.left h1{
  color: #a9b0af;
 width: 700px;
 line-height: 48px;
}
.left a{
  line-height: 83px;
  font-size: 34px;
  color:  #a9b0af;
  ;
}
.left a:hover{
  color: #2168b0;
}



.right img{
 margin-left: 41px;
height: 30px;
width: 30px;
transition: all 0.3s ease;

}
.right img:hover{
  transform: scale(0.9);
}


.last{
  margin-top: 175px;
}
.last a{
  color: #a9b0af;
  margin-left: 602px;

}
.last a:hover{
  color: #376da2;
}